:root {
  --bulma-control-radius: var(--bulma-radius);
  --bulma-control-radius-small: var(--bulma-radius-small);
  --bulma-control-border-width: 1px;
  --bulma-control-height: 2.5em;
  --bulma-control-line-height: 1.5;
  --bulma-control-padding-vertical: calc(0.5em - 1px);
  --bulma-control-padding-horizontal: calc(0.75em - 1px);
  --bulma-control-size: var(--bulma-size-normal);
  --bulma-control-focus-shadow-l: 50%;
}

:root {
  --bulma-control-radius: var(--bulma-radius);
  --bulma-control-radius-small: var(--bulma-radius-small);
  --bulma-control-border-width: 1px;
  --bulma-control-height: 2.5em;
  --bulma-control-line-height: 1.5;
  --bulma-control-padding-vertical: calc(0.5em - 1px);
  --bulma-control-padding-horizontal: calc(0.75em - 1px);
  --bulma-control-size: var(--bulma-size-normal);
  --bulma-control-focus-shadow-l: 50%;
}

.switch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Box-shadow */
.switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-right: 0.5em;
}
.switch + .switch:last-child {
  margin-right: 0;
}
.switch input[type=checkbox] {
  position: absolute;
  left: 0;
  opacity: 0;
  outline: none;
  z-index: -1;
}
.switch input[type=checkbox] + .check {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 2.75em;
  height: 1.575em;
  padding: 0.2em;
  background: hsl(221, 14%, 71%);
  border-radius: 0.375rem;
  transition: background 150ms ease-out, box-shadow 150ms ease-out;
}
.switch input[type=checkbox] + .check.is-white-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(221, 14%, 100%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-black-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(221, 14%, 4%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-light-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(221, 14%, 96%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-dark-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(221, 14%, 21%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-text-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(221, 14%, 29%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-primary-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(171, 100%, 41%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-link-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(233, 100%, 63%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-info-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(198, 100%, 70%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-success-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(153, 53%, 53%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-warning-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(42, 100%, 53%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check.is-danger-passive, .switch input[type=checkbox] + .check:hover {
  background: hsl(348, 100%, 70%);
}
.switch input[type=checkbox] + .check.input[type=checkbox] + .switch input[type=checkbox] + .check.check {
  background: "pink";
}
.switch input[type=checkbox] + .check:before {
  content: "";
  display: block;
  border-radius: 0.375rem;
  width: 1.175em;
  height: 1.175em;
  background: hsl(221, 14%, 96%);
  transition: transform 150ms ease-out;
  will-change: transform;
  transform-origin: left;
}
.switch input[type=checkbox] + .check.is-elastic:before {
  transform: scaleX(1.5);
  border-radius: 0.375rem;
}
.switch input[type=checkbox]:checked + .check {
  background: hsl(171, 100%, 41%);
}
.switch input[type=checkbox]:checked + .check.is-white {
  background: hsl(221, 14%, 100%);
}
.switch input[type=checkbox]:checked + .check.is-black {
  background: hsl(221, 14%, 4%);
}
.switch input[type=checkbox]:checked + .check.is-light {
  background: hsl(221, 14%, 96%);
}
.switch input[type=checkbox]:checked + .check.is-dark {
  background: hsl(221, 14%, 21%);
}
.switch input[type=checkbox]:checked + .check.is-text {
  background: hsl(221, 14%, 29%);
}
.switch input[type=checkbox]:checked + .check.is-primary {
  background: hsl(171, 100%, 41%);
}
.switch input[type=checkbox]:checked + .check.is-link {
  background: hsl(233, 100%, 63%);
}
.switch input[type=checkbox]:checked + .check.is-info {
  background: hsl(198, 100%, 70%);
}
.switch input[type=checkbox]:checked + .check.is-success {
  background: hsl(153, 53%, 53%);
}
.switch input[type=checkbox]:checked + .check.is-warning {
  background: hsl(42, 100%, 53%);
}
.switch input[type=checkbox]:checked + .check.is-danger {
  background: hsl(348, 100%, 70%);
}
.switch input[type=checkbox]:checked + .check:before {
  transform: translate3d(100%, 0, 0);
}
.switch input[type=checkbox]:checked + .check.is-elastic:before {
  transform: translate3d(50%, 0, 0) scaleX(1.5);
}
.switch input[type=checkbox]:focus, .switch input[type=checkbox]:active {
  outline: none;
}
.switch .control-label {
  padding-left: 0.5em;
}
.switch:hover input[type=checkbox] + .check {
  background: rgba(171, 177, 191, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-white-passive {
  background: rgba(255, 255, 255, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-black-passive {
  background: rgba(9, 10, 12, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-light-passive {
  background: rgba(243, 244, 246, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-dark-passive {
  background: rgba(46, 51, 61, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-text-passive {
  background: rgba(64, 70, 84, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-primary-passive {
  background: rgba(0, 209, 178, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-link-passive {
  background: rgba(66, 88, 255, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-info-passive {
  background: rgba(102, 209, 255, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-success-passive {
  background: rgba(72, 199, 142, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-warning-passive {
  background: rgba(255, 183, 15, 0.9);
}
.switch:hover input[type=checkbox] + .check.is-danger-passive {
  background: rgba(255, 102, 133, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check {
  background: rgba(0, 209, 178, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-white {
  background: rgba(255, 255, 255, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-black {
  background: rgba(9, 10, 12, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-light {
  background: rgba(243, 244, 246, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-dark {
  background: rgba(46, 51, 61, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-text {
  background: rgba(64, 70, 84, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-primary {
  background: rgba(0, 209, 178, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-link {
  background: rgba(66, 88, 255, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-info {
  background: rgba(102, 209, 255, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-success {
  background: rgba(72, 199, 142, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-warning {
  background: rgba(255, 183, 15, 0.9);
}
.switch:hover input[type=checkbox]:checked + .check.is-danger {
  background: rgba(255, 102, 133, 0.9);
}
.switch.is-rounded input[type=checkbox] + .check {
  border-radius: 9999px;
}
.switch.is-rounded input[type=checkbox] + .check:before {
  border-radius: 9999px;
}
.switch.is-rounded input[type=checkbox].is-elastic:before {
  transform: scaleX(1.5);
  border-radius: 9999px;
}
.switch.is-outlined input[type=checkbox] + .check {
  background: transparent;
  border: 0.1rem solid hsl(221, 14%, 71%);
  padding: 0.1em;
}
.switch.is-outlined input[type=checkbox] + .check.is-white-passive {
  border: 0.1rem solid rgba(255, 255, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-white-passive:before {
  background: hsl(221, 14%, 100%);
}
.switch.is-outlined input[type=checkbox] + .check.is-white-passive:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-black-passive {
  border: 0.1rem solid rgba(9, 10, 12, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-black-passive:before {
  background: hsl(221, 14%, 4%);
}
.switch.is-outlined input[type=checkbox] + .check.is-black-passive:hover {
  border-color: rgba(9, 10, 12, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-light-passive {
  border: 0.1rem solid rgba(243, 244, 246, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-light-passive:before {
  background: hsl(221, 14%, 96%);
}
.switch.is-outlined input[type=checkbox] + .check.is-light-passive:hover {
  border-color: rgba(243, 244, 246, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-dark-passive {
  border: 0.1rem solid rgba(46, 51, 61, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-dark-passive:before {
  background: hsl(221, 14%, 21%);
}
.switch.is-outlined input[type=checkbox] + .check.is-dark-passive:hover {
  border-color: rgba(46, 51, 61, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-text-passive {
  border: 0.1rem solid rgba(64, 70, 84, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-text-passive:before {
  background: hsl(221, 14%, 29%);
}
.switch.is-outlined input[type=checkbox] + .check.is-text-passive:hover {
  border-color: rgba(64, 70, 84, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-primary-passive {
  border: 0.1rem solid rgba(0, 209, 178, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-primary-passive:before {
  background: hsl(171, 100%, 41%);
}
.switch.is-outlined input[type=checkbox] + .check.is-primary-passive:hover {
  border-color: rgba(0, 209, 178, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-link-passive {
  border: 0.1rem solid rgba(66, 88, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-link-passive:before {
  background: hsl(233, 100%, 63%);
}
.switch.is-outlined input[type=checkbox] + .check.is-link-passive:hover {
  border-color: rgba(66, 88, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-info-passive {
  border: 0.1rem solid rgba(102, 209, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-info-passive:before {
  background: hsl(198, 100%, 70%);
}
.switch.is-outlined input[type=checkbox] + .check.is-info-passive:hover {
  border-color: rgba(102, 209, 255, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-success-passive {
  border: 0.1rem solid rgba(72, 199, 142, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-success-passive:before {
  background: hsl(153, 53%, 53%);
}
.switch.is-outlined input[type=checkbox] + .check.is-success-passive:hover {
  border-color: rgba(72, 199, 142, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-warning-passive {
  border: 0.1rem solid rgba(255, 183, 15, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-warning-passive:before {
  background: hsl(42, 100%, 53%);
}
.switch.is-outlined input[type=checkbox] + .check.is-warning-passive:hover {
  border-color: rgba(255, 183, 15, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-danger-passive {
  border: 0.1rem solid rgba(255, 102, 133, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check.is-danger-passive:before {
  background: hsl(348, 100%, 70%);
}
.switch.is-outlined input[type=checkbox] + .check.is-danger-passive:hover {
  border-color: rgba(255, 102, 133, 0.9);
}
.switch.is-outlined input[type=checkbox] + .check:before {
  background: hsl(221, 14%, 71%);
}
.switch.is-outlined input[type=checkbox]:checked + .check {
  border-color: hsl(171, 100%, 41%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-white {
  background: transparent;
  border-color: hsl(221, 14%, 100%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-white:before {
  background: hsl(221, 14%, 100%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-black {
  background: transparent;
  border-color: hsl(221, 14%, 4%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-black:before {
  background: hsl(221, 14%, 4%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-light {
  background: transparent;
  border-color: hsl(221, 14%, 96%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-light:before {
  background: hsl(221, 14%, 96%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-dark {
  background: transparent;
  border-color: hsl(221, 14%, 21%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-dark:before {
  background: hsl(221, 14%, 21%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-text {
  background: transparent;
  border-color: hsl(221, 14%, 29%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-text:before {
  background: hsl(221, 14%, 29%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-primary {
  background: transparent;
  border-color: hsl(171, 100%, 41%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-primary:before {
  background: hsl(171, 100%, 41%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-link {
  background: transparent;
  border-color: hsl(233, 100%, 63%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-link:before {
  background: hsl(233, 100%, 63%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-info {
  background: transparent;
  border-color: hsl(198, 100%, 70%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-info:before {
  background: hsl(198, 100%, 70%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-success {
  background: transparent;
  border-color: hsl(153, 53%, 53%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-success:before {
  background: hsl(153, 53%, 53%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-warning {
  background: transparent;
  border-color: hsl(42, 100%, 53%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-warning:before {
  background: hsl(42, 100%, 53%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-danger {
  background: transparent;
  border-color: hsl(348, 100%, 70%);
}
.switch.is-outlined input[type=checkbox]:checked + .check.is-danger:before {
  background: hsl(348, 100%, 70%);
}
.switch.is-outlined input[type=checkbox]:checked + .check:before {
  background: hsl(171, 100%, 41%);
}
.switch.is-outlined:hover input[type=checkbox] + .check {
  background: transparent;
  border-color: rgba(171, 177, 191, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check {
  background: transparent;
  border-color: rgba(0, 209, 178, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-white {
  border-color: rgba(255, 255, 255, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-black {
  border-color: rgba(9, 10, 12, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-light {
  border-color: rgba(243, 244, 246, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-dark {
  border-color: rgba(46, 51, 61, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-text {
  border-color: rgba(64, 70, 84, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-primary {
  border-color: rgba(0, 209, 178, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-link {
  border-color: rgba(66, 88, 255, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-info {
  border-color: rgba(102, 209, 255, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-success {
  border-color: rgba(72, 199, 142, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-warning {
  border-color: rgba(255, 183, 15, 0.9);
}
.switch.is-outlined:hover input[type=checkbox]:checked + .check.is-danger {
  border-color: rgba(255, 102, 133, 0.9);
}
.switch.is-small {
  border-radius: var(--bulma-radius-small);
  font-size: var(--bulma-size-small);
}
.switch.is-medium {
  font-size: var(--bulma-size-medium);
}
.switch.is-large {
  font-size: var(--bulma-size-large);
}
.switch[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: hsl(221, 14%, 48%);
}

/*# sourceMappingURL=main.css.map */
